name: Generate Snake

on:
  schedule:
    # Runs automatically every 12 hours
    - cron: "0 */12 * * *" 
  
  # Allows you to run this manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          # THIS MUST BE YOUR EXACT GITHUB USERNAME
          github_user_name: paulmathew
          outputs: dist/github-contribution-grid-snake.svg
      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
